/*Add CSS styles here*/
#map {
    height: 700px;
    width: 100%;
    display: inline-block;
    }

    .sequence-control-container {    
        width: 300px;    
        background-color: rgba(0,153,0,0.3);
        padding: 10px;  
        text-align: center;
        line-height: 15px;
        border: solid gray 1px;  
    }
    .range-slider {  
        width: 200px;  
    }  
    
    .step {  
        width: 35px;  
    }  
    
    .step img {  
        width: 100%;  
        height: auto;  

    }  
    
    #forward {
        float: right;
    }
        
    #reverse {  
        float: left;  
    }

    .legend-control-container {  
        width: 300px;    
        background-color: rgba(0,153,0,0.3);
        padding: 10px;  
        text-align: center;
        line-height: 15px;
        border: solid gray 1px;  
    }

    .filter-container {  
        width: 103px;    
        background-color: rgba(0,153,0,0.3);
        padding: 10px;  
        text-align: center;
        line-height: 15px;
        border: solid gray 1px;  
    }

.leaflet-popup-content p {
    margin: 0.2em 0;
}

